


.textsubpot1 {
  font-size: 27px;
  color: #012f6c;
  text-align: center;
  font-weight: 600;
}

.textsubpot2 {
  font-size: 23px;
  color: #012f6c;
  text-align: center;
  font-weight: 600;
}
    

@media (max-width: 768px) {

.textsubpot1 {
  font-size: 20px;
  padding: 10px 30px;
}

.textsubpot2 {
  font-size: 18px;
  padding: 0px 40px;
}

}




.section_a {
  position: relative;
  margin-top: 5%;
}

.Card_4 h1 {
  font-weight: 600;
  color: #012f6c;
  font-size: 3rem;
  text-align: center;
}


 @media (max-width: 1050px) {


  .Card_4 h1 {
  font-weight: 600;
  color: #000000;
  font-size: 3.5rem;
  text-align: center;
}

}


@media (max-width: 768px) {

    .section_a {
  position: relative;
  margin-top: 10%;
}


      .Card_4 h1 {
  font-weight: 600;
  color: #000000;
  font-size: 1.9rem;
  text-align: center;
}

  }

   @media (max-width: 400px) {


      .Card_4 h1 {
  font-weight: 600;
  color: #000000;
  font-size: 1.8rem;
  text-align: center;
}
  }






/*map*/

.wrap_map{
        grid-template-columns: 1fr;
        display: grid;
        height: 100%;
      }
.sectionMAP{
        height: 15vw;
        justify-content: center;
        display: flex;
        min-height: 640px;
}
@media (max-width: 1000px){
.sectionMAP{
        height: 10vw;
        min-height: 530px;
        padding: 0px;
}
.wrap_map{
        grid-template-columns: none;
        grid-template-rows: 100%;
        height: 50%;     
}     
}
