.section_about {
  position: relative;
  /* จำเป็นต้องมี position relative เพื่อให้ content อยู่เหนือพื้นหลัง */

}

.card-1 {
  width: auto;
  height: 56vw;
  min-height: 400px;
  overflow: hidden;
  background-image: url(../Sorce/IMG_5768.JPG);
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.144);
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
}

.card-1 h1 {
  font-weight: 600;
  color: #004aad;
  text-shadow: 0px 5px 12px #52525200;
  font-size: clamp(30px, 5vw, 75px) !important;
  margin-bottom: 10px;
  margin-top: 260px;
  background-color: #ffffffd4;
  padding: 10px;
  border-radius: 20px;
}

.card-1 h2 {
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0px 5px 12px #03030300;
  margin: auto;
  font-size: clamp(25px, 4.5vw, 50px) !important;
  margin-top: 0;
  background-color: #004badd7;
  padding: 10px;
  border-radius: 20px;
}




.item-p {
  text-align: center;
  padding: 10px 0;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 7%;
}

.port {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

@media (max-width:1500px) {

  .card-1 {
    height: 60vw;
  }

  .card-1 h1 {
    margin-top: 240px;
  }

}

@media (max-width: 768px) {

  .card-1 h1 {
    margin-top: 140px;
  }


  .port {
    flex-direction: column-reverse;
  }

  .trans_service:hover {
    transition: 1s ease;
    transform: scale(1);
  }

  .buttons-1-1 h1 {
    font-size: 60px;
    margin: 0 0 20px;
    color: #ddb823;
    font-weight: bold;
  }

  .buttons-1-1 p {
    font-size: 30px;
    color: #000000;
    padding: 20px 0;
    font-weight: bold;
  }
}

@media (max-width: 400px) {

  .card-1 {
    min-height: 370px;
  }

  .card-1 h1 {
    margin-top: 120px;
  }

}

.buttons-1 {
  flex: 1 1 calc(50% - 10px);
  min-width: 300px;
  padding: 10px;
  text-align: center;
}

.buttons-1-1 {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  margin: 0 auto;
  margin-top: 90px;
}

.buttons-1-1 h1 {
  font-size: 50px;
  color: #004aad;
  font-weight: bold;
}

.buttons-1-1 p {
  font-size: 35px;
  color: #004aad;
  font-weight: bold;
  margin-bottom: 50px;
}

.buttons-1-2 {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  margin: 1rem 0;
  padding: 0.1px 0.1px;
  max-width: 270px;
  margin: 0 auto;
  height: auto;
}

.buttons-1-2 a {
  margin: 1rem 0;
  background-color: #fdc959;
  padding: 13px 30px;
  border-radius: 50px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.21);
  text-decoration: none;
  font-weight: bold;
}

.buttons-1-2 h1 {
  font-size: 40px;
  margin: 0 0 10px;
  color: #004aad;
  font-weight: bold;
}

.buttons-1-2 a:hover {
  transition: 1s ease;
  transform: scale(1.1);
}




.buttons-2 {
  flex: 1 1 calc(50% - 10px);
  min-width: 300px;
  width: 100%;
  text-align: center;
  height: auto;
  padding: 0 20px;
}


.buttons-2 img {
  width: 75%;
  justify-content: center;
  height: 450px;
  object-fit: cover;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.21);
  border-radius: 75px;

}



@media (max-width: 768px) {

  .buttons-1-1 {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    margin: 0 auto;
    margin-top: 10px;
  }

  .buttons-1-1 h1 {
    font-size: 30px;
    color: #004aad;
    font-weight: bold;
  }

  .buttons-1-1 p {
    font-size: 25px;
    color: #004aad;
    padding: 0;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .buttons-1-2 h1 {
    font-size: 30px;
    margin: 0 0 5px;
    color: #004aad;
    font-weight: bold;
  }

  .buttons-2 img {
    width: 80%;
    justify-content: center;
    height: 300px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.21);

  }
}

@media (max-width: 400px) {

  .buttons-1-1 {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    margin: 0 auto;
    margin-top: 10px;
  }

  .buttons-1-1 h1 {
    font-size: 30px;
    color: #004aad;
    font-weight: bold;
  }

  .buttons-1-1 p {
    font-size: 25px;
    color: #004aad;
    padding: 0;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .buttons-1-2 h1 {
    font-size: 30px;
    margin: 0 0 5px;
    color: #004aad;
    font-weight: bold;
  }

  .buttons-2 img {
    width: 90%;
    justify-content: center;
    height: 250px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.21);

  }
}





.item-p1 {
  text-align: center;
  padding: 10px 0;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 3%;
}

.port1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.buttons-4 {
  flex: 1 1 calc(50% - 10px);
  min-width: 300px;
  padding: 10px;
  text-align: center;
}

.buttons-4-1 {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  margin: 0 auto;
  margin-top: 90px;
}

.buttons-4-1 h1 {
  font-size: 55px;
  margin: 0 0 0px;
  color: #ddb823;
  font-weight: bold;
}

.buttons-4-1 h2 {
  font-size: 40px;
  margin: 0 0 20px;
  color: #ddb823;
  font-weight: bold;
}

.buttons-4-1 p {
  font-size: 30px;
  color: #000000;
  padding: 20px 0;
  font-weight: bold;
}


.buttons-3 {
  flex: 1 1 calc(50% - 10px);
  min-width: 300px;
  width: 100%;
  text-align: center;
  height: auto;
  padding: 0 20px;
}


.buttons-3 img {
  width: 100%;
  justify-content: center;
  height: 550px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.21);

}



@media (max-width: 768px) {

  .port1 {
    flex-direction: none;
  }

  .port1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0px;
  }

  .buttons-4 {
    min-width: 175px;
  }

  .buttons-4-1 {
    margin-top: 10px;
  }

  .buttons-4-1 h1 {
    font-size: 18px !important;
    margin: 0 0 10px;
    color: #ddb823;
    font-weight: bold;
  }

  .buttons-4-1 h2 {
    font-size: 18px !important;
    margin: 0 0 0px;
    color: #ddb823;
    font-weight: bold;
    margin-top: 10px;
  }

  .buttons-4-1 p {
    font-size: 10px !important;
    color: #000000;
    padding: 0;
    font-weight: bold;
  }

  .buttons-3 img {
    width: 86%;
    justify-content: center;
    height: 179px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.21);

  }

  .buttons-3 {
    flex: 1 1 calc(50% - 10px);
    min-width: 209px;
    width: 77%;
    text-align: center;
    height: auto;
    padding: 0;
  }
}





.port11 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  background-color: #004aad;
  border-radius: 195px;
  margin: 0 0px;
  padding: 30px;
}

.buttons-44 {
  flex: 1 1 calc(50% - 10px);
  min-width: 300px;
  padding: 10px;
  text-align: center;
}

.buttons-44-1 {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  margin: 0 auto;
  margin-top: 90px;
}

.buttons-44-1 h1 {
  font-size: 55px;
  margin: 0 0 0px;
  color: #ddb823;
  font-weight: bold;
}

.buttons-44-1 h2 {
  font-size: 40px;
  margin: 0 0 20px;
  color: #ddb823;
  font-weight: bold;
}

.buttons-44-1 p {
  font-size: 30px;
  color: #000000;
  padding: 20px 0;
  font-weight: bold;
}


.buttons-33 {
  flex: 1 1 calc(50% - 10px);
  min-width: 300px;
  width: 100%;
  text-align: center;
  height: auto;
}


.buttons-33 img {
  width: 100%;
  justify-content: center;
  height: 410px;
  object-fit: cover;
  border-radius: 150px;

}



@media (max-width: 768px) {

  .port11 {
    flex-direction: none;
    border-radius: 50px;
    margin: 0 10px;
    padding: 30px;
    gap: 0px;
  }

  .port1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0px;
  }

  .buttons-44 {
    min-width: 175px;
  }

  .buttons-44-1 {
    margin-top: 10px;
  }

  .buttons-44-1 h1 {
    font-size: 30px !important;
    margin: 0 0 10px;
    color: #ddb823;
    font-weight: bold;
  }

  .buttons-44-1 h2 {
    font-size: 30px !important;
    margin: 0 0 0px;
    color: #ddb823;
    font-weight: bold;
    margin-top: 10px;
  }

  .buttons-44-1 p {
    font-size: 18px !important;
    color: #000000;
    padding: 0;
    font-weight: bold;
  }

  .buttons-33 img {
    width: 100%;
    justify-content: center;
    height: 255px;
    object-fit: cover;
    border-radius: 10px;
    border-radius: 30px;
  }

  .buttons-33 {
    flex: 1 1 calc(50% - 10px);
    min-width: 209px;
    width: 77%;
    text-align: center;
    height: auto;
    padding: 0;
  }
}




/* ************************************************************ */

.calling_and_line {
  margin-top: 20%;
}

.f-column-3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  max-width: 951px;
  margin: auto;
  margin-left: 10%;
}

.f-column-3 a {
  text-decoration: none;
  flex: 1;
  min-width: 250px;
  display: flex;
  justify-content: center;
}

.f-column-3 .fcolumn {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 382px;
  height: 94px;
  border-radius: 79px;
  padding: 39px;
  color: white;
}

.f-column-3 .fcolumn img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 50px;
}

.f-column-3 .fcolumn h2 {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    background-color: #ffffff;
    color: #004aad;
    border-radius: 10px;
}

.f-column-3 .fcolumn h3,
.f-column-3 .fcolumn h4 {
  font-size: 25px;
  margin: 0;
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {

  .calling_and_line {
    margin-top: 5%;
  }

  .f-column-3 {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .f-column-3 a {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .f-column-3 .fcolumn {
    max-width: 382px;
    height: 47px;
  }

  .f-column-3 .fcolumn img {
    width: 63px;
    height: 65px;
  }

  .f-column-3 .fcolumn h2 {
    font-size: 19px;
  }

  .f-column-3 .fcolumn h3,
  .f-column-3 .fcolumn h4 {
    font-size: 14px;
  }
}




























.service-boxes {
  display: flex;
  flex-wrap: wrap;
  /* ให้ขึ้นบรรทัดใหม่ถ้ากว้างเกิน */
  justify-content: flex-start;
  /* จัดให้ชิดซ้าย */
  gap: 20px;
  /* ระยะห่างระหว่างการ์ด */
  padding: 10px;
  margin-left: 10%;
  margin-top: 2%;
}

.service-card {
  margin: 10px;
  max-width: 480px;
  overflow: hidden;
  text-align: center;
  height: fit-content;
}

.service-card1 {
  text-align: center;
  border-radius: 0 0 8px 8px;
  max-width: 600px;
  overflow: hidden;
  text-align: center;
  z-index: 5 !important;
  display: block;
  position: relative;
  margin-bottom: 1.5rem;
  padding: 0 30px;
}


.service-card img {
  width: 100%;
  height: auto;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  border-radius: 70px;
}

.service-card1 h3 {
  color: #004aad;
}

.service-card1 p {
  color: #004aad;
}

.service-card h3 {
  margin: 5px 0;
  font-weight: 550;
  font-size: 29px;
  margin-top: 20px;
}

.service-card p {
  font-weight: 300;
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.5;
  text-align: start;
}


@media (max-width: 768px) {

  .service-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
  }

  .service-card h3 {
    margin: 5px 0;
    font-weight: 550;
    font-size: 22px;
    margin-top: 20px;
  }

}










.chaty-channel-list {
  position: fixed;
  bottom: 75px;
  right: 70px;
  z-index: 10001;
}

.chaty-channel-list svg {
  width: 54px;
  height: 54px;
}













.M {
  width: 100%; 
  background-color: #004aad; 
  text-align: center; 
  padding: 90px 70px 130px 70px;
}

.M h1 {
  font-size: 90px; 
  color: #ffffff; 
  font-weight: 700;
}

.M h2 {
 font-size: 50px; 
 color: #ffffff; 
 font-weight: 600;
}

.M p {
 font-size: 40px; 
 color: #ffffff; 
 font-weight: 300; 
 text-align: start;
 margin-top: 50px;
}


@media (max-width:1500px) {

.M h1 {
  font-size: 90px; 
  color: #ffffff; 
  font-weight: 700;
}

.M h2 {
 font-size: 45px; 
 color: #ffffff; 
 font-weight: 600;
}

.M p {
 font-size: 30px; 
 color: #ffffff; 
 font-weight: 300; 
 text-align: start;
 margin-top: 30px;
}

}

@media (max-width: 768px) {

  .M {
  width: 100%; 
  background-color: #004aad; 
  text-align: center; 
  padding: 40px 15px;
}

.M h1 {
  font-size: 50px; 
  color: #ffffff; 
  font-weight: 700;
}

.M h2 {
 font-size: 19px; 
 color: #ffffff; 
 font-weight: 600;
}

.M p {
 font-size: 18px; 
 color: #ffffff; 
 font-weight: 300; 
 text-align: start;
 margin-top: 30px;
}

}

@media (max-width: 400px) {

  .M {
  width: 100%; 
  background-color: #004aad; 
  text-align: center; 
  padding: 50px 15px;
}

.M h1 {
  font-size: 40px; 
  color: #ffffff; 
  font-weight: 700;
}

.M h2 {
 font-size: 17px; 
 color: #ffffff; 
 font-weight: 600;
}

.M p {
 font-size: 15px; 
 color: #ffffff; 
 font-weight: 300; 
 text-align: start;
 margin-top: 30px;
}

}














 
  
  







/*สาวเสื้อส้ม*/

.section_a {
  position: relative;
  margin-top: 5%;
}

.Card_4 h1 {
  font-weight: 600;
  color: #000000;
  font-size: 4rem;
  text-align: center;
}

.Card_4 h2 {
  font-weight: 600;
  color: #004aad;
  font-size: 4rem;
  text-align: center;
}

.section_b {
  height: 38rem;
  display: flex;
  flex-direction: column-reverse;
}

.Card_5 {
  position: relative;
  width: 99%;
  height: 30%;
  background: #004aad;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 0px 50px 50px 0px;
}

.card_img1 {
  width: 55%;
  height: 40rem;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_img_a1{
  width: 70%;height: 20%; overflow: clip;z-index: 5;position: relative;left: 70%;top: 10%; text-align: start; margin: 5px;
}

.card_img_a2{
  width: 70%;height: 20%; overflow: clip;z-index: 5;position: relative;left: 70%;top: -1%; text-align: start; margin: 5px;
}

.card_img_a3{
  width: 70%;height: 20%; overflow: clip;z-index: 5;position: relative;left: 70%;top: -12%; text-align: start; margin: 5px;
}

.card_img_a1 span,.card_img_a2 span,.card_img_a3 span{
  position: absolute;
  font-size: clamp(14px, 3.5vw, 38px);
  font-weight: bold;
  color: #004aad;
}



 @media (max-width: 1050px) {


  .Card_4 h1 {
  font-weight: 600;
  color: #000000;
  font-size: 3.5rem;
  text-align: center;
}

.Card_4 h2 {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
}


.section_b {
  height: 40rem;
  display: flex;
  flex-direction: column-reverse;
}

    .Card_5 {
      position: relative;
      width: 97%;
      height: 45%;
      display: flex;
      flex-direction: column-reverse;
      border-radius:0px 50px 50px 0px;
    }

        .card_img1 {
      width: 65% !important;
      height: 65vw !important;
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position:center;
    }

.card_img_a1{
  width: 70%;height: 20%; overflow: clip;z-index: 5;position: relative;left: 70%;top: 6%; text-align: start; margin: 5px;
}

.card_img_a2{
  width: 70%;height: 20%; overflow: clip;z-index: 5;position: relative;left: 70%;top: -5%; text-align: start; margin: 5px;
}

.card_img_a3{
  width: 70%;height: 20%; overflow: clip;z-index: 5;position: relative;left: 70%;top: -17%; text-align: start; margin: 5px;
}

.card_img_a1 span,.card_img_a2 span,.card_img_a3 span{
  position: absolute;
  font-size: clamp(14px, 3.5vw, 38px);
  font-weight: bold;
}
}


  @media (max-width: 768px) {

    .section_a {
  position: relative;
  margin-top: 20%;
}


      .Card_4 h1 {
  font-weight: 600;
  color: #000000;
  font-size: 2.3rem;
  text-align: center;
}

.Card_4 h2 {
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}


.section_b {
  height: 20rem;
  display: flex;
  flex-direction: column-reverse;
}

        .Card_5 {
      position: relative;
      width: 90%;
      height: 45%;
      display: flex;
      flex-direction: column-reverse;
      border-radius:0px 50px 50px 0px;
    }

    .card_img1 {
      width: 70% !important;
      height: 85vw !important;
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position:center;
    }

.card_img_a1{
  width: 70%;height: 20%; overflow: clip;z-index: 5;position: relative;left: 70%;top: 10%; text-align: start; margin: 5px;
}

.card_img_a2{
  width: 70%;height: 20%; overflow: clip;z-index: 5;position: relative;left: 70%;top: -4%; text-align: start; margin: 5px;
}

.card_img_a3{
  width: 70%;height: 20%; overflow: clip;z-index: 5;position: relative;left: 70%;top: -17%; text-align: start; margin: 5px;
}

.card_img_a1 span,.card_img_a2 span,.card_img_a3 span{
  position: absolute;
  font-size: clamp(14px, 3.5vw, 38px);
  font-weight: bold;
}
  
  }

   @media (max-width: 400px) {


      .Card_4 h1 {
  font-weight: 600;
  color: #000000;
  font-size: 1.5rem;
  text-align: center;
}

.Card_4 h2 {
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

.section_b {
  height: 20rem;
  display: flex;
  flex-direction: column-reverse;
}

    .Card_5 {
      position: relative;
      width: 95%;
      height: 35%;
      display: flex;
      flex-direction: column-reverse;
      border-radius:0px 50px 50px 0px;
    }

    .card_img1 {
      width: 75% !important;
      height: 105vw !important;
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position:center;
    }

.card_img_a1{
  width: 65%;height: 40%; overflow: clip;z-index: 5;position: relative;left: 56%;top:11%; text-align: start; margin: 5px;
}

.card_img_a2{
  width: 65%;height: 40%; overflow: clip;z-index: 5;position: relative;left: 56%;top: -23%; text-align: start; margin: 5px;
}

.card_img_a3{
  width: 68%;height: 20%; overflow: clip;z-index: 5;position: relative;left: 56%;top: -57%; text-align: start; margin: 5px;
}

.card_img_a1 span,.card_img_a2 span,.card_img_a3 span{
  position: absolute;
  font-size: clamp(13px, 3.5vw, 38px);
  font-weight: bold;
}

  }

















  @keyframes slide{
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }


  .gallery1 {
  overflow: hidden;
  padding: 0px 0;
  background-color: #fcfcfc;
}

.gallery-slide1 {
  white-space: nowrap;
  animation: 15s slide infinite linear;
}

.gallery1 img {
  width: 100%;
  height: 330px;
  max-width: 25%;
  padding: 0 10px;
}


.gallery2 {
  overflow: hidden;
  padding: 0px 0;
  background-color: #fcfcfc;
}

.gallery-slide2 {
  white-space: nowrap;
  animation: 16s slide infinite linear;
}

.gallery2 img {
  width: 100%;
  height: 330px;
  max-width: 25%;
  display: inline-block;
  padding: 0 10px;
}

@media (max-width: 768px) {

  .gallery1 img {
    width: 100%;
    height: 230px;
    max-width: 75%;
  }

  .gallery2 img {
    width: 100%;
    height: 230px;
    max-width: 75%;
  }
}

@media (max-width: 400px) {

    .gallery1 img {
    width: 100%;
    height: 180px;
    max-width: 70%;
  }

  .gallery2 img {
    width: 100%;
    height: 180px;
    max-width: 70%;
  }
}