.card-1 {
  width: auto;
  height: 50vw;
  min-height: 400px;
  overflow: hidden;
  background-image: url(../Sorce/IMG_5768.JPG);
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.144);
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
}

.card-1 h1 {
  font-weight: 600;
  color: #004aad;
  text-shadow: 0px 5px 12px #52525200;
  font-size: clamp(40px, 5vw, 95px) !important;
  margin-bottom: 10px;
  margin-top: 330px;
  background-color: #ffffffd4;
  padding: 10px;
  border-radius: 20px;
}

@media (max-width: 768px) {

.card-1 h1 {
  margin-top: 150px;
  padding: 10px;
  border-radius: 10px;
}

}

@media (max-width: 400px) {

  .card-1 {
    min-height: 370px;
  }

  .card-1 h1 {
    margin-top: 120px;
  }

}






/*ทำความรู้จัก*/

.M {
  width: 100%; 
  background-color: #004aad; 
  text-align: center; 
  padding: 90px 70px 130px 70px;
}

.M h1 {
  font-size: 90px; 
  color: #ffffff; 
  font-weight: 700;
}

.M h2 {
 font-size: 50px; 
 color: #ffffff; 
 font-weight: 600;
}

.M p {
 font-size: 40px; 
 color: #ffffff; 
 font-weight: 300; 
 text-align: start;
 margin-top: 50px;
}


@media (max-width:1500px) {

.M h1 {
  font-size: 90px; 
  color: #ffffff; 
  font-weight: 700;
}

.M h2 {
 font-size: 45px; 
 color: #ffffff; 
 font-weight: 600;
}

.M p {
 font-size: 30px; 
 color: #ffffff; 
 font-weight: 300; 
 text-align: start;
 margin-top: 30px;
}

}

@media (max-width: 768px) {

  .M {
  width: 100%; 
  background-color: #004aad; 
  text-align: center; 
  padding: 40px 15px;
}

.M h1 {
  font-size: 50px; 
  color: #ffffff; 
  font-weight: 700;
}

.M h2 {
 font-size: 19px; 
 color: #ffffff; 
 font-weight: 600;
}

.M p {
 font-size: 18px; 
 color: #ffffff; 
 font-weight: 300; 
 text-align: start;
 margin-top: 30px;
}

}

@media (max-width: 400px) {

  .M {
  width: 100%; 
  background-color: #004aad; 
  text-align: center; 
  padding: 50px 15px;
}

.M h1 {
  font-size: 40px; 
  color: #ffffff; 
  font-weight: 700;
}

.M h2 {
 font-size: 17px; 
 color: #ffffff; 
 font-weight: 600;
}

.M p {
 font-size: 15px; 
 color: #ffffff; 
 font-weight: 300; 
 text-align: start;
 margin-top: 30px;
}

}




/*หัวข้อ*/

.section{
  margin-top: 3%;
  height: 30%;
  align-content: center;
  text-align: center;
  color: #004aad;
  font-weight: bold;
  font-size: clamp(35px,4.5vw,100px);
/*border-bottom:2px dotted #ddb823;*/
  width: 90%;
  margin-inline:auto;
}

.section_2 {
    margin-top: 5%;
    font-size: clamp(35px,4.5vw,100px);
    text-align: start;padding: 20px;
    background-color: #004aad;
    width:20%;
    margin-right: 90%;
    border-radius: 0 50px 50px 0;
    color: #ffffff;
    font-weight: bold;
}

.section_3 {
    margin-top: 5%;
    text-align: start;padding: 20px;
    background-color: #004aad;
    width:45%;
    margin-right: 90%;
    border-radius: 0 50px 50px 0;
    color: #ffffff;
    font-weight: bold;
  }


@media (max-width: 768px) {

  .section_3 {
    width:80%;
  }
}






/*news*/

.service-boxes {
  display: flex;
  flex-wrap: wrap;
  /* ให้ขึ้นบรรทัดใหม่ถ้ากว้างเกิน */
  justify-content: flex-start;
  /* จัดให้ชิดซ้าย */
  gap: 20px;
  /* ระยะห่างระหว่างการ์ด */
  padding: 10px;
  margin-left: 10%;
  margin-top: 2%;
}

.service-card {
  margin: 10px;
  max-width: 480px;
  overflow: hidden;
  text-align: center;
  height: fit-content;
}

.service-card1 {
  text-align: center;
  border-radius: 0 0 8px 8px;
  max-width: 600px;
  overflow: hidden;
  text-align: center;
  z-index: 5 !important;
  display: block;
  position: relative;
  margin-bottom: 1.5rem;
  padding: 0 30px;
}


.service-card img {
  width: 100%;
  height: auto;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  border-radius: 70px;
}

.service-card1 h3 {
  color: #004aad;
}

.service-card1 p {
  color: #004aad;
}

.service-card h3 {
  margin: 5px 0;
  font-weight: 550;
  font-size: 29px;
  margin-top: 20px;
}

.service-card p {
  font-weight: 300;
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.5;
  text-align: start;
}


@media (max-width: 768px) {

  .service-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
  }

  .service-card h3 {
    margin: 5px 0;
    font-weight: 550;
    font-size: 22px;
    margin-top: 20px;
  }

}




/*form*/

.card4{
          width: 100%;
          height: 40rem;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      .card4 h1{
        font-weight: 600;
        color: #ffffff;
        text-shadow: 0px 5px 12px #030303;
        font-size: 3rem;
      }
      @media (max-width: 1000px) {
            .card4{
              width: 100%;
              height: auto;
              text-align: center;
              display: flex;
              flex-direction: column;
              align-items: center;
          }
          .col-md-4{
            height:0 !important;
          } 
          .col-md-4 img{
            width: 0;
          }  
        } 


/*ช่องทางติดต่อ*/

.item-p1 {
  text-align: center;
  padding: 10px 0;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 3%;
}

.port11 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  background-color: #004aad;
  border-radius: 195px;
  margin: 0 0px;
  padding: 30px;
}

.buttons-44 {
  flex: 1 1 calc(50% - 10px);
  min-width: 300px;
  padding: 10px;
  text-align: center;
}

.buttons-44-1 {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  margin: 0 auto;
  margin-top: 90px;
}

.buttons-44-1 h1 {
  font-size: 55px;
  margin: 0 0 0px;
  color: #ddb823;
  font-weight: bold;
}

.buttons-44-1 h2 {
  font-size: 40px;
  margin: 0 0 20px;
  color: #ddb823;
  font-weight: bold;
}

.buttons-44-1 p {
  font-size: 30px;
  color: #000000;
  padding: 20px 0;
  font-weight: bold;
}


.buttons-33 {
  flex: 1 1 calc(50% - 10px);
  min-width: 300px;
  width: 100%;
  text-align: center;
  height: auto;
}


.buttons-33 img {
  width: 100%;
  justify-content: center;
  height: 410px;
  object-fit: cover;
  border-radius: 150px;

}



@media (max-width: 768px) {

  .port11 {
    flex-direction: none;
    border-radius: 50px;
    margin: 0 10px;
    padding: 30px;
  }

  .buttons-44 {
    min-width: 175px;
  }

  .buttons-44-1 {
    margin-top: 10px;
  }

  .buttons-44-1 h1 {
    font-size: 30px !important;
    margin: 0 0 10px;
    color: #ddb823;
    font-weight: bold;
  }

  .buttons-44-1 h2 {
    font-size: 30px !important;
    margin: 0 0 0px;
    color: #ddb823;
    font-weight: bold;
    margin-top: 10px;
  }

  .buttons-44-1 p {
    font-size: 18px !important;
    color: #000000;
    padding: 0;
    font-weight: bold;
  }

  .buttons-33 img {
    width: 100%;
    justify-content: center;
    height: 255px;
    object-fit: cover;
    border-radius: 10px;
    border-radius: 30px;
  }

  .buttons-33 {
    flex: 1 1 calc(50% - 10px);
    min-width: 209px;
    width: 77%;
    text-align: center;
    height: auto;
    padding: 0;
  }
}


.calling_and_line {
  margin-top: 20%;
}

.f-column-3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  max-width: 951px;
  margin: auto;
  margin-left: 10%;
}

.f-column-3 a {
  text-decoration: none;
  flex: 1;
  min-width: 250px;
  display: flex;
  justify-content: center;
}

.f-column-3 .fcolumn {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 382px;
  height: 94px;
  border-radius: 79px;
  padding: 39px;
  color: white;
}

.f-column-3 .fcolumn img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 50px;
}

.f-column-3 .fcolumn h2 {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    background-color: #ffffff;
    color: #004aad;
    border-radius: 10px;
}

.f-column-3 .fcolumn h3,
.f-column-3 .fcolumn h4 {
  font-size: 25px;
  margin: 0;
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {

  .calling_and_line {
    margin-top: 5%;
  }

  .f-column-3 {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .f-column-3 a {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .f-column-3 .fcolumn {
    max-width: 78%;
    height: 47px;
  }

  .f-column-3 .fcolumn img {
    width: 63px;
    height: 65px;
  }

  .f-column-3 .fcolumn h2 {
    font-size: 19px;
  }

  .f-column-3 .fcolumn h3,
  .f-column-3 .fcolumn h4 {
    font-size: 14px;
  }
}




/*ล้างสุด ผู้หญิงเสื้อดำ*/

.stapend {
position: relative;
width: 80%;
height: 45rem;
margin-top: 10%;
}

.card_img {
position: absolute;
background-size: cover;
background-repeat: no-repeat;
background-position:
center;
width: inherit !important;
height: 93% !important;
bottom: 0 !important;
right: 30rem !important;
}

.card_img span {
position: absolute;
font-size: 3.5vw !important;
font-weight: bold;
color: #0F3F8A;
left: 43% !important;
}

@media (max-width: 1000px) {

.stapend {
  position: relative;
  width: 100%;
  height: 28rem;
  margin-top: 5%;
}

.card_img span {
  position: absolute;
  font-size: 4.6vw !important;
  font-weight: bold;
  color: #0F3F8A;
  font-size: 4vw;
  width: 44vw;
  /* left: 55%; */
  top: 10%;
  left: 55% !important;
}

.card_img {
  width: inherit !important;
  height: 90% !important;
  bottom: 0 !important;
  right: 5rem !important;
}
}



.chaty-channel-list {
  position: fixed;
  bottom: 75px;
  right: 70px;
  z-index: 10001;
}

.chaty-channel-list svg {
  width: 54px;
  height: 54px;
}
